<header class="bg-custom-green text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-lg font-bold">
      Registro
    </div>
    <nav class="space-x-4">
    
      <button routerLink="/alumnos" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Registrar Alumno</button>
      <button routerLink="/profesores" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Registrar Profesor</button>
    </nav>
  </div>
</header>

    <div class="container mx-auto p-1 flex flex-col items-center justify-center "> <h1 class="text-4xl font-bold mb-4">Prueba de desarrollo </h1>
      <p class="text-lg text-gray-700">Aplicacion full stack para registrar alumnos y profesores, arquitectura mvc, front con Angular y back con Java.</p> 
    </div>
<div class="container mx-auto p-4 flex flex-col items-center justify-center min-h-screen">
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="bg-white p-6 rounded-lg shadow-md flex flex-col items-center justify-center">
      <h2 class="text-2xl font-bold mb-2">Alumnos</h2>
      <p class="text-gray-700">Registra alumnos y administra la información.</p>
    </div>
    <div>

    </div>
    <div class="bg-white p-6 rounded-lg shadow-md flex flex-col items-center justify-center">
      <h2 class="text-2xl font-bold mb-2">Profesores</h2>
      <p class="text-gray-700">Registra Profesores y administra la información.</p>
    </div>
  </div>
</div>
